﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="main" style="margin-top: 50px;">
        <video id="videoPlayer" style="width: 600px; height: 400px;">
            <source src="https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_30mb.mp4" />
        </video>

        <button id="play-button">Play</button>
        <button id="pause-button">Pause</button>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>